@model ProyectoFinal.Models.UsViewModel

<!DOCTYPE html>
<html lang="es">

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var NombreUsuario = HttpContextAccessor.HttpContext?.Session.GetString("NombreUser");
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor de Imágenes</title>
    <script src="https://kit.fontawesome.com/0ec24d2dc8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/personas.css">
</head>

<body>
    <div class="container">
        <nav class="menu">

            <input type="checkbox" id="toggle">

            <button class="Chat">
                <a class="ChatT" asp-action="ZonaChat" asp-controller="UserPerfil">Chat</a>
            </button>


            <button class="juegos">
                <a class="ZonaJ" asp-action="Juegos" asp-controller="UserPerfil">Zona de Juegos</a>
            </button>


            <button class="Sesion">
                <a class="cerrar" asp-action="CerrarSesion" asp-controller="UserPerfil">Cerrar Sesion</a>
            </button>


            <button class="perfil">
                <a class="perfilsec" asp-action="Perfil" asp-controller="UserPerfil">Perfil</a>
            </button>


        </nav>



        <!-- Título superior -->
        @if (!string.IsNullOrEmpty(NombreUsuario))
        {
            <h1>Bienvenido, @NombreUsuario</h1>
        }
        else
        {
            <h1>No hay usuario en sesion</h1>
        }
        <div class="title">
            Personas con las que podrías interactuar
        </div>
        @if (Model.NuevoUsuario.Edad >= 18)
        {
            <!-- Animacion -->
            @foreach (var item in Model.ListaUsu)
            {
                @if (string.IsNullOrEmpty(item.FotoRuta))
                {
                    <img class="image-container" id="imageContainer" src="/uploads/fotosinfoto.png" alt="Foto de perfil" width="150"
                        height="150" />
                }
                else
                {
                    <img class="image-container" id="imageContainer"
                        src="@Url.Content(item.FotoRuta ?? " ~/uploads/fotosinfoto.png")" alt="No funciono" width="150" height="150"
                        onerror="this.onerror=null; this.src='/uploads/fotosinfoto.png';" />
                }
                <br>
                <br>
                <a >Invitar a Room</a>
                <br>
                <br>
                <div class="details-container">
                    <h3>Informacion Usuario</h3>
                    @if (string.IsNullOrEmpty(item.nombreCompleto) || string.IsNullOrEmpty(item.Genero))
                    {
                        <p id="imageDetails">Cargando Detalles...</p>
                    } else {
                        <p id="imageDetails">Nombre = @item.nombreCompleto</p>
                        <p id="imageDetails">Edad = @item.Edad</p>
                        <p id="imageDetails">Genero = @item.Genero</p>
                    }
                </div>

            }
        } else {
            <p>Su edad no es lo suficiente para conocer personas, Presione el boton para modificar su perfil</p>
            <a asp-action="Perfil" asp-controller="UserPerfil">Editar Perfil</a>
        }
        <script src="~/js/Tema.js"></script>
</body>

</html>